{% extends "home.html" %}

{% block content %}
    {%  for auction in auctions %}

        {% if auction.is_active %}
            Title: {{ auction.title }} Sold by: {{auction.seller}} Created: {{ auction.created_at}} minimum price: {{ auction.minprice }} <br>
            Description: {{ auction.description }} Deadline {{ auction.deadline }} <br>
            Current bid: {{ auction.currentBid }}
            {% if user.is_authenticated %}
                {% if user != auction.seller and auction.is_active %}
                    <a href={% url "place_bid" auction.id %}>New Bid</a>
                    {% endif %}
            {% endif %}

         {% endif %}
            {% if user.is_superuser and not auction.isBanned and auction.is_active %}
                <br>
                <a href={% url 'ban_auction' auction.id %}>Ban this auction</a>
            {% endif %}

            <br>
            <br><br>
    {% endfor %}
{% endblock %}