<!DOCTYPE hmtl>

<html>
    <head>
        <title> YAAS frontpage</title>
    </head>
    <body>
        <h1>YAAS</h1>

        <a href={% url 'index' %}>Home</a>
        {% if user.is_authenticated %}
            User: {{ user.get_username }}
            <a href={%  url 'logout' %}> Logout </a>
            <a href={% url 'change_password' %}> Change Password </a>
            <a href={% url 'change_email' %}> Change Email</a>
            <a href={% url 'create_auction' %}> Create Auction</a>
            <a href={% url 'my_auctions' %}>My Auctions </a>

        {% else %}
            <a href={% url 'register' %}>Register</a>
            <a href={% url 'login' %}>Login</a>
            No active user.
        {% endif %}
        <br><br>
        {% block content %}{% endblock %}
    </body>
</html>